@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
:root {
  background-color: #242424;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}

p {
  letter-spacing: normal;
}

.el-dialog__title {
  font-size: 1.5rem;
}
